<div class="container">
	<h1 class="page-header">Add</h1>
	<div class="row">
		<div class="col-sm-6">
			<form>
			  <div class="form-group">
			    <label>Name</label>
			    <input ng-model="birthday.name" type="text" class="form-control" placeholder="Enter name">
			  </div>
			  <div class="form-group">
			    <label>Birthdate</label>
			    <input ng-model="birthday.birthdate" type="text" class="form-control" placeholder="YYYY-MM-DD">
			  </div>
			  <div class="form-group">
			    <label>Phone Number</label>
			    <input ng-model="birthday.phonenumber" type="text" class="form-control" placeholder="Enter phone number">
			  </div>
			  <button ng-click="insertBirthday(birthday)" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Save</button>
			</form>
		</div>
	</div>
	<br><br><br>
	<a href="#/home" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
	<br><br><br>
</div>